# Base64 encode function
function base64_enc() {
    echo -n ${1} | base64
}

# Base64 decode function
function base64_dec() {
    echo -n ${1} | base64 -D
}

# Check what process is listening on port
function whos_listening () {
	lsof -n -i4TCP:$1 | grep LISTEN
}